
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
    <title>Project 2</title>
</head>
<style>

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }


  a {
    color: white;
    font-size: 20px;
  }
  header {
    width: 100%;
    background-color: rgba(29, 28, 28, 0.89);
    padding: 30px;
  }


  .container {
    width: 100%;
    overflow: auto;
  }

  @media screen and (max-width:768px) {
  .tohide { 
    display: none; 
    }

    table {
      font-size: 12px;
    }
    
    ul {
      flex-direction: column;
    }
  }

</style>