<%- include("../partials/header") %>


<body>
  <body>
    <header>

    </header>
    <div class="container">
      <%- table() %>
    </div>
        <footer>Made by Dinh Kim</footer>
      </body>
</html>